body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #ffffff;
}
.tulisan{
    font-family: 'Poppins', sans-serif;
}

nav{
    height: 100px;
}

.bg-tosca{
    background-color: #71B5B6;
}

.nav-link{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff !important;
}

.active{
    font-size: 20px;
    font-weight: 700 !important;
    color: #ffffff !important;
}

.nav-link:hover{
    font-size: 20px;
    font-weight: 400;
    color: rgb(240, 240, 240) !important;
}

.nav-link-mob{
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    margin: 15px;
}

/* Main */

.main-title{
    font-size: 40px;
    font-weight: 600;
    color: black;
    margin-top: 70px;
}

@media screen and (max-width: 640px) {
    .main-title {
        font-size: 20px;
        font-weight: 600;
        color: black;
        margin-top: 70px;
    }
}

.main-desc{
    margin-top: 109px;
}

@media screen and (max-width: 640px) {
    .main-desc{
        margin-top: 54px;
    }
}

.first-content .title{
    font-size: 24px;
    font-weight: 600;
}

@media screen and (max-width: 640px){
    .first-content .title{
        font-size: 14px;
        font-weight: 600;
    }
}

.first-content .desc{
    text-align: justify;
    line-height: 30px;
}

@media screen and (max-width: 640px){
    .first-content .desc{
        text-align: justify;
        font-size: 12px;
        line-height: 15px;
    }
}

.second{
    margin-top: 52px;
}

@media screen and (max-width: 640px){
    .second{
        margin-top: 25px;
    }
}

.second-content .title{
    font-size: 24px;
    font-weight: 600;
}

@media screen and (max-width: 640px){
    .second-content .title{
        font-size: 14px;
        font-weight: 600;
    }
}

.second-content .sub-title{
    font-size: 24px;
    font-weight: 400;
}

@media screen and (max-width: 640px){
    .second-content .sub-title{
        font-size: 14px;
        font-weight: 400;
    }
}

.second-content .desc{
    margin-top: 51px;
    line-height: 30px;
}

@media screen and (max-width: 640px){
    .second-content .desc{
        text-align: justify;
        margin-top: 25px;
        font-size: 12px;
        line-height: 15px;
    }
}

.third{
    margin-top: 107px;
}

@media screen and (max-width: 640px){
    .third{
        margin-top: 52px;
    }
}

.third p{
    text-align: justify;
    line-height: 30px;
}

@media screen and (max-width: 640px){
    .third p{
        text-align: justify;
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (max-width: 640px){
    .third-content svg{
        width: 175px; 
        height: 37px;
    }
}

/* Covid Map */

.section-stats{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 21px;
    margin-top: 40px;
    
    margin-bottom: 50px;
  }
  
  .stats-detail{
    padding: 12px 0px 12px 7px;
    border-radius: 10px;
  }
  
  .terkonfirmasi{
    background-color: rgb(69, 84, 201);
    margin: 10px 10px 10px 10px;
  }
  
  .aktif{
    background-color: rgb(201, 192, 69);
    margin: 10px 10px 10px 10px;
  }
  
  .sembuh{
    background-color: rgb(69, 201, 106);
    margin: 10px 10px 10px 10px;
  }
  
  .meninggal{
    background-color: rgb(201, 69, 69);
    margin: 10px 10px 10px 10px;
  }

  /* Peta Covid */

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #eee;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ccc;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #bbb;
  }
  
  #map{
    width: 100%;
    height: 100vh;
    z-index: 3;
  }
  
  .leaflet-container{
    background: transparent;
  }
  .list-covid{
    height: 100vh;
    overflow-x: hidden;
  }
  .list-group-item:hover{
    cursor: pointer;
  }
  
  .info { 
    padding: 6px 8px;
    background: #EFF9F9; 
    background: rgba(255,255,255,0.8); 
    box-shadow: 0 0 15px rgba(0,0,0,0.2); 
    border-radius: 5px;
    color: #71B5B6;
    font-weight: 700; 
  } 
  
  
  .info h4 { 
    margin: 0 0 5px; 
    color: #777; 
  }
  
  .legend { 
    text-align: left; 
    line-height: 18px; 
    color: #555; 
  } 
  
  .reset { 
    text-align: left; 
    line-height: 18px; 
    color: #555; 
  } 
  
  .legend i { 
    width: 18px; 
    height: 18px; 
    float: left; 
    margin-right: 8px; 
    opacity: 0.7; 
  }
  
  /* Statistik Peta Covid */

  .warnings{
    margin-top: 90px;
  }

  .statistics{
    margin-top: -90px !important;
  }
  
  @media screen and (max-width: 640px){
    .statistics{
      margin-top: 10px !important;
    }
  }
  
  /* Home */
  .leaflet-control-zoomhome a {
    font: bold 18px "Lucida Console",Monaco,monospace;
  }

/* Footer */

footer{
    margin-top: 100px;
    background-color: #71B5B6;
}

.myFooter{
    padding: 63px 0px 79px 0px;
}

.myFooter .title{
    font-size: 20px;
    color: #ffffff;
}

@media screen and (max-width: 640px){
    .myFooter .title{
        font-size: 15px;
        color: #ffffff;
    }
}

.myFooter .desc{
    font-size: 15px;
    color: #636363;
    text-decoration: none;
}

.myFooter .desc:hover{
    font-size: 15px;
    color: #e6e6e6;
    text-decoration: none;
}

@media screen and (max-width: 640px){
    .myFooter .desc{
        font-size: 12px;
        color: #636363;
        text-decoration: none;
    }
}

.myBanner .title {
    text-shadow: 2px 4px 3px black;
    font-size: 20px;
    text-align: justify;
}

@media screen and (max-width: 640px){
    .myBanner .title {
        text-shadow: 2px 4px 3px black;
        font-size: 20px;
        text-align: justify;
        margin-top: -100px;
        
    }
}





